DJANGO_SECRET_KEY=CHANGE_ME
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=api-ofc.pocket-dealer.jp,www.api-ofc.pocket-dealer.jp
DB_NAME=chinese_poker
DB_USER=chinese_poker
DB_PASSWORD=CHANGE_ME
DB_HOST=db
DB_PORT=5432
